html,
body {
    background-color: #2E2E2E;
    /* background-color: whitesmoke; */
}

div#viewport {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 1032px;
    height: 1032px;
    border: 4px solid darkgreen;
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}


img#viewport_border {
  position: absolute;
  top: -8px;
  left: -44px;
  z-index: 100;
}

img#background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 1024px;
  padding: 0px;
  z-index: 0;
}

img#interact_image {
  position: absolute;
  bottom: 42px;
  left: 0px;
  width: 1024px;
  height: 1024px;
  padding: 0px;
  z-index: 101;
}

img#waypoint_panel {  
  position: relative;
  margin: auto;
  width: 256px;
  height: 256px;
  background-color: whitesmoke;
  text-align: center;
  z-index: 21;
  visibility: hidden;
}

div#health_bar {
  border: 2px solid black; 
  height: 42px; 
  z-index: 90; 
  position: absolute; 
  width: 400px; 
  left: 50px; 
  top: 50px;
}

div#hunger_bar {
  border: 2px solid black; 
  height: 42px;  
  z-index: 90; 
  position: absolute; 
  width: 400px; 
  left: 512px; 
  top: 50px;
}
